.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card-image {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    height: 400px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.6s, opacity 0.5s ease-in-out;
    /* Agregar transición a la transformación y opacidad */
    opacity: 0;
    /* Inicialmente invisible */
}

.card-image img.loaded {
    opacity: 1;
    /* Hacer visible cuando se haya cargado */
}

.card-image:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.card-content {
    flex: 0 0 auto;
    padding: 16px;
    background-color: #eee;
    color: #000;
}

.card-content h1 {
    margin: 0 0 8px;
    font-size: 1.5em;
}

.card-content p {
    margin: 4px 0;
}

.card-content span {
    display: block;
    margin-top: 8px;
    font-weight: bold;
    color: #555;
}